.carrito {
    margin: 0 auto;
    padding: 8px;
    min-width: 400px;
    
    border-radius: 8px;
    border: 1px solid;
}

.carrito p {
    text-align: center;
}

.carrito hr {
    border-width: 1px;
    border-style: dashed;
}

.carrito .titulo {
    text-align: center;
}

.carrito .lista-items div {
    margin-bottom: 4px;
}

.lista-items .vaciar {
    width: 100%;
    margin: 0 auto;
}

.lista-items .items-descripcion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-descripcion .nombre-precio {
    width: 100%;
}
.nombre-precio .nombre {
    float: left;
}
.nombre-precio .relleno {
    display: block;
    height: .9em;
    overflow: hidden;
    border-bottom: 2px dotted #000;
}

.nombre-precio .precio {
    float: right;
}

.items-descripcion .cantidad {
    margin-left: 8px;
    min-width: fit-content;
}

.boton.vaciar {
    width: 100%;
    color: aliceblue;
    border: none;
    background-color: #c63232;
    
    &:active {
        background-color: #9d2828;
    }
}