* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;

    &:visited {
        color: #000;
    }
}

body {
    height: 100vh;

    /* border: 3px solid red; */
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    /* border: 2px solid rgb(0, 255, 17); */
}